Agente1.sources = Source1
Agente1.sinks = Sink1
Agente1.channels = Channel1

Agente1.sources.Source1.type = exec
Agente1.sources.Source1.command = cat /home/hadoop/abd-files/flume/iris.csv

Agente1.sinks.Sink1.type = hdfs
Agente1.sinks.Sink1.hdfs.path = /user/hadoop/ejemplo1
Agente1.sinks.Sink1.hdfs.fileSuffix = .log
Agente1.sinks.Sink1.hdfs.writeFormat = Text

Agente1.channels.Channel1.type = memory
Agente1.channels.Channel1.capacity = 1000
Agente1.channels.Channel1.transactionCapacity = 200

Agente1.sources.Source1.channels = Channel1
Agente1.sinks.Sink1.channel = Channel1

# Ejecutar como:
# flume-ng agent -n Agente1 -f ejemplo1.config
