Agente2.sources = Source2
Agente2.sinks = Sink2
Agente2.channels = Channel2

Agente2.sources.Source2.type = netcat
Agente2.sources.Source2.bind = localhost
Agente2.sources.Source2.port = 56525

Agente2.sinks.Sink2.type = hdfs
Agente2.sinks.Sink2.hdfs.path = /user/hadoop/ejemplo2
Agente2.sinks.Sink2.hdfs.fileSuffix = .log
Agente2.sinks.Sink2.hdfs.writeFormat = Text

Agente2.channels.Channel2.type = file
Agente2.channels.Channel2.dataDirs = /home/hadoop/Agente2/data
Agente2.channels.Channel2.checkpointDir = /home/hadoop/Agente2/checkpoint

Agente2.sources.Source2.channels = Channel2
Agente2.sinks.Sink2.channel = Channel2

# Ejecutar como:
# Terminal 1:  flume-ng agent -n Agente2 -f ejemplo2.config
# Terminal 2:  telnet localhost 56525
